{% extends "forms/_layout" %}

{% set pageTitle = "Home" %}
{% set page = "welcome" %}

{% block content %}
<div class="container">
    <h1>{{ entry.title }}</h1>


    {{ entry.pageContent }}
</div>
{% endblock %}