{% extends "forms/_layout" %}

{% set pageTitle = "Home" %}
{% set page = "welcome" %}

{% block content %}
<div class="container">
<h1>Livestream</h1>

{{ sprig('_components/livestream') }}

</div>
{% endblock %}